#prideflag {
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
    transform-origin: 100% 0%;
    transition: transform .5s cubic-bezier(.32,1.63,.41,1.01);
    z-index: 8008135;
    pointer-events: none;
}
#prideflag:hover {
    transform: scale(110%);
}
#prideflag:active {
    transform: scale(110%);
}
#prideflag * {
    pointer-events: all;
}